.block-item {
  .block-item-header {
    padding: 15px 5px 15px 5px;
    position: relative;
    .block-item-header-time {
      position: absolute;
      top: 3px;
      right: 5px;
      font-size: 10px;
    }

    .block-item-header-total-actions {
      position: absolute;
      bottom: 3px;
      right: 5px;
      font-size: 10px;
    }
  }
  .block-item-content {
    // overflow: scroll;
  }

  &.selected {
    .block-item-header {
      color: #383d41;
      background-color: #e2e3e5;
      border-color: #d6d8db;
    }
  }
}
